---
layout: page
permalink: timeline
title: Timeline
---

{% for post in site.posts %}
	{% unless post.next %}<h3>{{ post.date | date: '%Y' }}</h3>
	{% else %}
	{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
	{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
	{% if year != nyear %}<h3>{{ post.date | date: '%Y' }}</h3>
	{% endif %}
	{% endunless %}

	<ul>
		<li><a href="{{ post.url }}">{{ post.title }}&nbsp;
		{% if post.categories != empty %}
			[
			{% for postCat in post.categories %}
	     		{{ postCat }}
	     		{% if forloop.rindex != 1 %}
	   			,
	     		{% endif %}
     		{% endfor %}
     		]
		{% endif %}
		</a>&nbsp;<small>{{ post.date | date: "%m/%d"}}</small>
		</li>
	</ul>

{% endfor %}